.signIn{
    background-image: url(../../Images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}
.SignInBox{
    text-align: center;
    
}